HelloWorldService/ConsoleClient/Service References/HelloWorldClientReference/HelloWorldService.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/HelloWorldService" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/HelloWorldService" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="HelloData">
    <xs:sequence>
      <xs:element minOccurs="0" name="Fname" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Lname" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="HelloData" nillable="true" type="tns:HelloData" />
</xs:schema>